*{  
    margin: 0px;
    padding: 0pxs;
    font-family: 'Open Sans', sans-serif;
}

/* header banner */
header{
    width: 100%;    
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)) ,url(../media/images/background-banner.jpg);
    background-size: cover;
    background-position: center;
  
}

header nav{
    width: 85%;
    margin: auto;
    padding: 35px, 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 40px;
    cursor: pointer;
    margin: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(212, 2, 149);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
.header-banner-text{
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.header-title{
    font-size: 70px;
}
.header-subtitle{
    font-size: 40px;
    color: rgb(212, 2, 149);
}
.header-content{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    
}
.button-primary{
    width: 200px;
    padding: 10px 0px;
    margin: 20px 10px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    font-weight: bolder;
    color: white;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
.span-class{
    background:  rgb(212, 2, 149);
    height: 100%;
    width: 0;
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.button-primary:hover .span-class{
    width: 100%;
}
.button-primary:hover{
    border: none;
}

/* The bridge empathy section  */
.bridge-empathy-section{
    margin: 20px 0px;
    width: 100%;
    height: 500px;
    background-color:  rgb(212, 2, 149) ;
    background-image: url(../media/images/message-banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.bridge-empathy-child{
    position: absolute;
    left: 0;
    top: 0;
    /* width: 100%; */
    height: 406px;
    padding: 3em;

    /* the gradient part */
    background-image: linear-gradient( to right,
     rgba(0,0,0,1) 20%, 
     rgba(0,0,0,.7) 60%,
     rgba(0,0,0,.4) 70%,
     rgba(0,0,0,0) 100%);
}
.bridge-empathy-title{
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
}
.bridge-empathy-subtile{
    font-size: 40px;
    color: rgb(212, 2, 149);
    margin-bottom: 15px;
}
.bridge-empathy-description{
    width: 600px;
    color: white;
    text-align: left;
}

/* ar vr bridge empathy sections */
.correction{
    width: 100%;

     /* the gradient part */
     background-image: linear-gradient( to bottom right,
     rgba(0,0,0,1) 20%, 
     rgba(0,0,0,.7) 60%,
     rgba(0,0,0,.4) 70%,
     rgba(0,0,0,0) 100%);

}
.ai-vr-bridge-section{
    margin: 20px auto;
    display: flex;
    align-items: center;
    height: 600px;

    width: 80%;
}
.ar-vr-bridge-title{
    font-size: 60px;
    margin-bottom: 15px;
    color: white;
}
.ar-vr-bridge-subtile{
    font-size: 40px;
    color: rgb(212, 2, 149);
    margin-bottom: 15px;
}
.ar-vr-bridge-description{
    width: 550px;
    text-align: left;
    color: white;
    
}
.ai-vr-bridge-banner{
    width: 40%;
    border: 2px solid black;
    box-shadow: -20px 20px 10px rgb(75, 74, 74);
    
}
